{template "content","header"}

<div id="content_background">
	<center>
<div id="content">
  <div class="main_1 main_div">
            	<div class="type_nav div">
                	<ul>
                    	<li class="type_name">
                        	家电分类目录
                        </li>
                        {pc:get sql="select * from cban_category where parentid=49" return="data"}
                       	{loop $data $r}
                             <li><a href="{$r[url]}"><div>{$r[catname]}</div></a></li>
                        {/loop}
                        {/pc} 
                        
                       
						<li class="all_type">
                        	<a href="#">全类分类目录</a>
                        </li>
                    </ul>
                </div>
                
                
                {pc:get sql="select * from cban_category where parentid=49" return="data"}
                {loop $data $r}
                    <div class="show_1 div">
                         <!--列表类型-->
                         <h4 class="title title_br">{$r[catname]}</h4>
                              <div class="left_border"></div>
                               <div class="right_border"></div>
                               <div class="link">
                                   <ul class="link">
                                    {pc:content action="category" catid="$r[catid]" num="25" siteid="$siteid" order="listorder ASC"}
                					{loop $data $r}
                                      <li>
                                           <a href="{$r[url]}">{$r[catname]}</a>
                                       </li>
                                    {/loop}
             						{/pc}
                                   </ul>
                                </div>
                   </div>
             {/loop}
             {/pc}
   </div>
  
 
  {pc:content action="category" catid="$catid" num="25" siteid="$siteid" order="listorder ASC"}
  {loop $data $r}
  <div class="main_link2">
            	<h4 class="title title_br">{$r[catname]}</h4>
                <div class="a_link">
                    <div class="medium_win max_win">
                    		
                        
                        <div class="win_dir">
                        	<ul>
                            {pc:content action="lists" catid="$r[catid]" num="25" siteid="$siteid" order="listorder ASC"}
                            {loop $data $r}
                                <li>
                                    <a href="{$r[url]}">
                                        <img src="{$r[thumb]}" height="100"/><br/>
                                        {$r[title]}
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥{$r[price]}</div>
                                </li>
                             {/loop}
                             {/pc}
                            </ul>
                        </div>
                        
                       
                    </div>  
                </div>
    </div>
	{/loop}
    {/pc}
   
    <!--页底开始-->
	{template "content","footer"}
  </center>
    
</div>

</body>
</html>
