
<link href="{CBAN_PATH}css/wh_footer.css" type="text/css" rel="stylesheet"/>
<link href="{CBAN_PATH}css/wh_title.css" type="text/css" rel="stylesheet"/>
<div id="bottom_body">
    <!--底部友情链接开始-->
    <div id="title_blueline">
    友情链接
    </div>
    <div id="friendlink_body">
    	<ul>
        	{pc:link  action="type_list" siteid="1" order="listorder DESC" num="20" return="pic_link"}
             {loop $pic_link $v}
                    <li>
                        <a href="{$v['url']}" title="{$v['name']}" target="_blank">{$v[name]}</a>
                     </li>
              {/loop}
             {/pc} 
        </ul>
    </div>
    <!--底部友情链结束、站点引导开始-->
    <div id="title_blueline" style="height:14px; background-color:#FFF;">
    </div>
    <div id="guild_body">
   
    <p> copyright © 2013 cban.com.cn Limited, All Rights Reserved</p>
    <p>中国品牌家电网 版权所有</p>
    <p> 京ICP证********号</p>
    </div>
    <!--站点引导结束、版权图片开始-->
    <div class="bottom_rights">
 	<img src="{CBAN_PATH}img/bottom_gs.gif" width="35" height="49" />国家备案
  	<img src="{CBAN_PATH}img/bottom_baidu.gif" width="40" height="49" style="padding-left:30px;"/>百度认证
    <img src="{CBAN_PATH}img/bottom_credit.gif" width="112" height="49" style="padding-left:30px;"/>
    </div>
    <!--版权图片结束-->
</div>