			<div class="main_link">
            	<h4 class="title title_br">友情连接</h4>
                <div class="a_link">
                	<ul>
                     	{pc:link  action="type_list" siteid="1" order="listorder DESC" num="20" return="pic_link"}
                        {loop $pic_link $v}
                        	<li>
                            	<div><a href="{$v['url']}" title="{$v['name']}" target="_blank">{$v[name]}</a></div>
                            </li>
                        {/loop}
                        {/pc} 
                    </ul>
                </div>
            </div>
            
           
            
            <div class="main_link">
                <div class="img_link a_link">
                	<p> copyright © 2013 cban.com.cn Limited, All Rights Reserved</p>
                    <p>中国品牌家电网 版权所有</p>
                    <p> 京ICP证********号</p>
                </div>
            </div>
            
            
            <div class="main_link">
                <span><br />文字文字文字文字文字文字文字文字文字</span>
                <span><br />文字文字文字文字文字文字文字文字文字</span>
                <span><br />文字文字文字文字文字文字文字文字文字</span>
                <br />
                <img src="{CBAN_PATH}img/tail.jpg" height="121" />
                <img src="{CBAN_PATH}img/tail.jpg" height="121" />
            </div>