{template "content","header"}

<div id="content_background">
	<center>
        <div id="content">
        	<div class="main_1 main_div">
            	<div class="type_nav div">
                	<ul>
                    	<li class="type_name">
                        	家电分类目录
                        </li>
                        {pc:get sql="select * from cban_category where parentid=49" return="data"}
                       	{loop $data $r}
                             <li><a href="{$r[url]}"><div>{$r[catname]}</div></a></li>
                        {/loop}
                        {/pc} 
                        
                       
						<li class="all_type">
                        	<a href="index.php?m=content&c=index&a=lists&catid=49">全部分类目录</a>
                        </li>
                    </ul>
                </div>
                
                <div class="show_1 div">
                	<!--图片新闻 开始-->
                	<h4 class="title">图片新闻</h4>
                	<div id="kinMaxShow">
                      		{pc:content action="position" posid="1" order="listorder asc" num="10"}
                            {loop $data $r}
                            	<div>
                                <a href="{$r[url]}" target="_blank"><img src="{$r[thumb]}"  /></a>
                           		</div>
                            {/loop}
                            {/pc}
                    </div>
                    <!--图片轮换结束-->
                    
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="cont">
                    	<ul class="ul_list">
                            {pc:content action="position" posid="3" order="listorder asc" num="10"}
                            {loop $data $r}
                            	<li class="li_list">
                                  <div class="col_cont">新闻</div><div class="col_blck"><a href="{$r[url]}">{$r[title]}</a></div>
                           		</li>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div2">
                	<!--列表类型-->
                    <h4 class="title">行业资讯</h4>
                    <div class="cont">
                    	<ul class="ul_list">
                        	{pc:content action="position" posid="2" order="listorder asc" num="8"}
                            {loop $data $r}
                            	<li class="li_list">
                                  <div class="col_cont">新闻</div><div class="col_blck"><a href="{$r[url]}">{$r[title]}</a></div>
                           		</li>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                    
                    <!--图片类型列表-->
                    <h4 class="title title_br">展会信息</h4>
					<div class="cont">
                    	<ul class="ul_list">
                            {pc:content action="position" posid="4" order="listorder asc" num="3"}
                            {loop $data $r}
                                <li class="li_list">
                            	<div class="img"><img src="{$r[thumb]}" width="103" height="66" /></div><div class="col_blck"><a href="{$r[url]}">{$r[title]}</a><div class="col_text"><span>地址:</span>{get_linkage($r[diqu],1,' - ')} {$r[address]}</div><div class="col_text"><span>时间:</span>{$r[start_time]}</div></div>
                            </li>
                            {/loop}
                            {/pc}
                            
                        </ul>
                    </div>
                </div>
                          
            </div>
            
            <div class="main_2 main_div">
            	<div class="show_2 div">
                	<!--图片类型列表-->
                    <h4 class="title title_br">千县万店</h4>
                    <div class="cont">
                        <ul class="ul_list">
                            
                            {pc:content action="position" posid="5" order="listorder asc" num="3"}
                            {loop $data $r}
                                <li class="li_list">
                                <div class="img"><img src="{$r[thumb]}" width="103" height="66" /></div><div class="col_blck"><a href="index.php?m=cban&c=index&a=showJDWX&mdid={$r[id]}">{$r[title]}</a><div class="col_text_wh col_text">{$r[description]}</div>
                            	</li>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                </div>
                
                <div class="show_2 div">
                	<!--图片类型列表-->
                    <h4 class="title title_br">&nbsp;</h4>
                    <div class="cont">
                        <ul class="ul_list">
                            {pc:content action="position" posid="6" order="listorder asc" num="3"}
                            {loop $data $r}
                            	
                                <li class="li_list">
                                <div class="img"><img src="{$r[thumb]}" width="103" height="66" /></div><div class="col_blck"><a href="index.php?m=cban&c=index&a=showJDWX&mdid={$r[id]}">{$r[title]}</a><div class="col_text_wh col_text">{$r[description]}</div>
                            	</li>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                </div>
                
                <div class="show_2 div">
                	<!--图片类型列表-->
                    <h4 class="title title_br">维修服务</h4>
                    <div class="cont">
                        <ul class="ul_list">
                            {pc:content action="position" posid="7" order="listorder asc" num="3"}
                            {loop $data $r}
                            	
                                <li class="li_list">
                                <div class="img"><img src="{$r[thumb]}" width="103" height="66" /></div><div class="col_blck"><a href="index.php?m=cban&c=index&a=showJDWX&mdid={$r[id]}">{$r[title]}</a><div class="col_text_wh col_text">{$r[description]}</div>
                            	</li>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="main_link">
            	<h4 class="title title_br">家电名企</h4>
                <div class="a_link">
                	<ul>
                    		{pc:content action="position" posid="8" order="listorder asc" num="20"}
                            {loop $data $r}
                                <li>
                                    <div><a href="index.php?m=cban&c=index&a=jdmq&qyid={$r[id]}">{$r[title]}</a></div>
                                </li>
                            {/loop}
                            {/pc}
                    </ul>
                </div>
            </div>
            
            <div class="main_link2">
            	<h4 class="title title_br">家电排行</h4>
                <div class="a_link">
              		<div class="mini_win">
                        <div class="win_title">
                            <ul>
                            	<!--
                                	属性说明:
                                	class="group_div"   : 	切换效果 识别用的div(固定值)
                                    data-type="X"		:	切换效果类型(1 or 2)
                                    data-class="XXX"	:	表现组的class名称
                                    data-id="XXX"		:	对应要显示的id名称
                                -->
                                <li class="event_in group_div" data-type="1" data-class="group_name" data-id="left_div_1">
                                    <a href="javascript:void(0)">热门</a>
                                </li>
                                <li class="event_out group_div" data-type="1" data-class="group_name" data-id="left_div_2">
                                    <a href="javascript:void(0)">新品</a>
                                </li>
                            </ul>
                        </div>
                        <div class="win_dir main_win_he">
                            <ul id="left_div_1" class="group_name">
                                {pc:content action="position" posid="9" order="listorder asc" num="5"}
                                {loop $data $r}                                    
                                    <li>
                                	<span>{$r[listorder]}</span>
                                    <a href="{$r[url]}">{$r[title]}</a><br />
                                    {if $r[listorder]=='1'}
                                    <img src="{$r[thumb]}" height="40" />
                                    {/if}
                                </li>
                                {/loop}
                                {/pc}
                            </ul>
                            
                            <ul id="left_div_2" style="display:none;" class="group_name">
                               {pc:content action="position" posid="10" order="listorder asc" num="5"}
                                {loop $data $r}                                    
                                    <li>
                                	<span>{$r[listorder]}</span>
                                    <a href="{$r[url]}">{$r[title]}</a><br />
                                    {if $r[listorder]=='1'}
                                    <img src="{$r[thumb]}" height="40" />
                                    {/if}
                                </li>
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                    </div>
                    
                    <!--
                        属性说明:
                        class="group_div"   : 	切换效果 识别用的div(固定值)
                        data-type="X"		:	切换效果类型(1 or 2)
                        data-class="XXX"	:	表现组的class名称
                        data-id="XXX"		:	对应要显示的id名称
                    -->
                    
                    <div class="medium_win">
                    	<div class="win_title">
                            <ul>
                                <li class="event group_div" data-class="group_bar" data-type="2" data-id="div_type_a_1">
                                    电视
                                </li>
                                <li class="group_div" data-class="group_bar" data-type="2" data-id="div_type_a_2">
                                    冰箱
                                </li>
                                <li class="group_div" data-class="group_bar" data-type="2" data-id="div_type_a_3">
                                	洗衣机
                                </li>
                                <li class="group_div" data-class="group_bar" data-type="2" data-id="div_type_a_4">
                                    微波炉
                                </li>
                                <li class="group_div" data-class="group_bar" data-type="2" data-id="div_type_a_5">
                                    电磁炉
                                </li>
                                <li class="group_div" data-class="group_bar" data-type="2" data-id="div_type_a_6">
                                	热水器
                                </li>
                                <li class="group_div" data-class="group_bar" data-type="2" data-id="div_type_a_7">
                                	其他
                                </li>
                            </ul>
                        </div>
                        
                        <div class="win_dir group_bar" id="div_type_a_1">
                        	<ul>
                                {pc:content action="position" posid="11" order="listorder asc" num="20"}
                                {loop $data $r}
                                    <li>
                                    <a href="{$r[url]}">
                                        <img src="{$r[thumb]}" height="100"/><br />
                                        {$r[title]}<br />
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥{$r[price]}</div>
                               		</li>
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                        
                        <div class="win_dir group_bar" style="display:none;" id="div_type_a_2">
                        	<ul>
                                {pc:content action="position" posid="12" order="listorder asc" num="20"}
                                {loop $data $r}
                                    <li>
                                    <a href="{$r[url]}">
                                        <img src="{$r[thumb]}" height="100"/><br />
                                        {$r[title]}<br />
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥{$r[price]}</div>
                               		</li>
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                        
                        <div class="win_dir group_bar" style="display:none;" id="div_type_a_3">
                        	<ul>
                               {pc:content action="position" posid="13" order="listorder asc" num="20"}
                                {loop $data $r}
                                    <li>
                                    <a href="{$r[url]}">
                                        <img src="{$r[thumb]}" height="100"/><br />
                                        {$r[title]}<br />
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥{$r[price]}</div>
                               		</li>
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                        
                        <div class="win_dir group_bar" style="display:none;" id="div_type_a_4">
                        	<ul>
                               {pc:content action="position" posid="14" order="listorder asc" num="20"}
                                {loop $data $r}
                                    <li>
                                    <a href="{$r[url]}">
                                        <img src="{$r[thumb]}" height="100"/><br />
                                        {$r[title]}<br />
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥{$r[price]}</div>
                               		</li>
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                        
                        <div class="win_dir group_bar" style="display:none;" id="div_type_a_5">
                        	<ul>
                               {pc:content action="position" posid="15" order="listorder asc" num="20"}
                                {loop $data $r}
                                    <li>
                                    <a href="{$r[url]}">
                                        <img src="{$r[thumb]}" height="100"/><br />
                                        {$r[title]}<br />
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥{$r[price]}</div>
                               		</li>
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                        
                        <div class="win_dir group_bar" style="display:none;" id="div_type_a_6">
                        	<ul>
                               {pc:content action="position" posid="16" order="listorder asc" num="20"}
                                {loop $data $r}
                                    <li>
                                    <a href="{$r[url]}">
                                        <img src="{$r[thumb]}" height="100"/><br />
                                        {$r[title]}<br />
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥{$r[price]}</div>
                               		</li>
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                        
                        <div class="win_dir group_bar" style="display:none;" id="div_type_a_7">
                        	<ul>
                               {pc:content action="position" posid="17" order="listorder asc" num="20"}
                                {loop $data $r}
                                    <li>
                                    <a href="{$r[url]}">
                                        <img src="{$r[thumb]}" height="100"/><br />
                                        {$r[title]}<br />
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥{$r[price]}</div>
                               		</li>
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                        
                        <div class="win_link">
                            <ol>
                            	<li>
                                	热门品牌:
                                </li>
                            	<li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                                <li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                                <li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                                <li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            
            
            <!--页底开始-->
			{template "content","footer"}
            
        </div>
        
    </center>
    
</div>

</body>
</html>
