{template "content","header"}

<div id="companylist_body">
	<!--路径开始-->
	<div id="title_blueline"><span style="float:left; margin-right:350px;">中国家电品牌网 >家电名企</span><span id="title_blueline_atpresent">全部</span><span id="title_blueline_nopresent">大陆企业</span><span id="title_blueline_nopresent">港台企业</span><span id="title_blueline_nopresent">国外企业</span></div>
	<!--路径结束、家电名企业主要内容开始-->
	<div class="companylist">
        <ul>
            <li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{CBAN_PATH}images/logo_tcl.gif" width="85" height="36" /></div>
           		<span><p>企业名称：CXXX某家电品牌股份有限公司</p>
    				  <p>产品类型：电视、空调、洗衣机</p>
					  <p>企业描述：一个国家经济的崛起有赖于一批民族企业的壮大。"诞生"于改革开放之初的TCL，现已成长为有抱负的"青年"。作为率先国际化的中国企业，TCL没有任何可以借鉴的蓝本，在全球范围内探索着一条中国品牌从未走过的道路。经过国际化的严峻考验和不懈探索，我们在国际化道路上的步伐更加坚定。</p>
           		</span>
            	</div>
            </li>
            <li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{CBAN_PATH}images/logo_haier.gif" width="85" height="36" /></div>
           		<span><p>企业名称：海尔</p>
					  <p>产品类型：厨具、家电产品</p>
					  <p>企业描述海尔集团创立于1984年，从开始单一生产冰箱起步，拓展到家电、通讯、IT数码产品、家居、物流、金融、房地产、生物制药等多个领域，成为全球领先的美好生活解决方案提供商。2013年，海尔全球营业额1803亿元，利润总额108亿元，继续保持利润增长2倍于收入增长。据消费市场权威调查机构欧睿。L，现已成长为有抱负的"青年"。作为率先国际化L，现已成长为有抱负的"青年"。作为率先国际化L，现已成长为有抱负的"青年"。作为率先国际化</p>
           		</span>
            	</div>
            </li>
            <li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{CBAN_PATH}images/logo_gree.gif" width="85" height="36" /></div>
           		<span><p>企业名称：格力</p>
					  <p>产品类型：空调、净水机</p>
					  <p>企业描述：成立于1991年的珠海格力电器股份有限公司是目前全球最大的集研发、生产、销售、服务于一体的国有控股专业化空调企业，2012年实现营业总收入1001.10亿元，成为中国首家超过千亿的家电上市公司；2013年实现营业总收入1200.43亿元，净利润108.71亿元，纳税超过102.70亿元，是中国首家净利润。</p>
           		</span>
            	</div>
            </li>
            <li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{CBAN_PATH}images/logo_tcl.gif" width="85" height="36" /></div>
           		<span><p>企业名称：CXXX某家电品牌股份有限公司</p>
    				  <p>产品类型：电视、空调、洗衣机</p>
					  <p>企业描述：一个国家经济的崛起有赖于一批民族企业的壮大。"诞生"于改革开放之初的TCL，现已成长为有抱负的"青年"。作为率先国际化的中国企业，TCL没有任何可以借鉴的蓝本，在全球范围内探索着一条中国品牌从未走过的道路。经过国际化的严峻考验和不懈探索，我们在国际化道路上的步伐更加坚定。</p>
           		</span>
            	</div>
            </li>
            <li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{CBAN_PATH}images/logo_haier.gif" width="85" height="36" /></div>
           		<span><p>企业名称：海尔</p>
					  <p>产品类型：厨具、家电产品</p>
					  <p>企业描述海尔集团创立于1984年，从开始单一生产冰箱起步，拓展到家电、通讯、IT数码产品、家居、物流、金融、房地产、生物制药等多个领域，成为全球领先的美好生活解决方案提供商。2013年，海尔全球营业额1803亿元，利润总额108亿元，继续保持利润增长2倍于收入增长。据消费市场权威调查机构欧睿。L，现已成长为有抱负的"青年"。作为率先国际化L，现已成长为有抱负的"青年"。作为率先国际化L，现已成长为有抱负的"青年"。作为率先国际化</p>
           		</span>
            	</div>
            </li>
            <li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{CBAN_PATH}images/logo_gree.gif" width="85" height="36" /></div>
           		<span><p>企业名称：格力</p>
					  <p>产品类型：空调、净水机</p>
					  <p>企业描述：成立于1991年的珠海格力电器股份有限公司是目前全球最大的集研发、生产、销售、服务于一体的国有控股专业化空调企业，2012年实现营业总收入1001.10亿元，成为中国首家超过千亿的家电上市公司；2013年实现营业总收入1200.43亿元，净利润108.71亿元，纳税超过102.70亿元，是中国首家净利润。</p>
           		</span>
            	</div>
            </li>
            <li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{CBAN_PATH}images/logo_tcl.gif" width="85" height="36" /></div>
           		<span><p>企业名称：CXXX某家电品牌股份有限公司</p>
    				  <p>产品类型：电视、空调、洗衣机</p>
					  <p>企业描述：一个国家经济的崛起有赖于一批民族企业的壮大。"诞生"于改革开放之初的TCL，现已成长为有抱负的"青年"。作为率先国际化的中国企业，TCL没有任何可以借鉴的蓝本，在全球范围内探索着一条中国品牌从未走过的道路。经过国际化的严峻考验和不懈探索，我们在国际化道路上的步伐更加坚定。</p>
           		</span>
            	</div>
            </li>
            <li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{CBAN_PATH}images/logo_haier.gif" width="85" height="36" /></div>
           		<span><p>企业名称：海尔</p>
					  <p>产品类型：厨具、家电产品</p>
					  <p>企业描述海尔集团创立于1984年，从开始单一生产冰箱起步，拓展到家电、通讯、IT数码产品、家居、物流、金融、房地产、生物制药等多个领域，成为全球领先的美好生活解决方案提供商。2013年，海尔全球营业额1803亿元，利润总额108亿元，继续保持利润增长2倍于收入增长。据消费市场权威调查机构欧睿。L，现已成长为有抱负的"青年"。作为率先国际化L，现已成长为有抱负的"青年"。作为率先国际化L，现已成长为有抱负的"青年"。作为率先国际化</p>
           		</span>
            	</div>
            </li>
            <li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{CBAN_PATH}images/logo_gree.gif" width="85" height="36" /></div>
           		<span><p>企业名称：格力</p>
					  <p>产品类型：空调、净水机</p>
					  <p>企业描述：成立于1991年的珠海格力电器股份有限公司是目前全球最大的集研发、生产、销售、服务于一体的国有控股专业化空调企业，2012年实现营业总收入1001.10亿元，成为中国首家超过千亿的家电上市公司；2013年实现营业总收入1200.43亿元，净利润108.71亿元，纳税超过102.70亿元，是中国首家净利润。</p>
           		</span>
            	</div>
            </li>
            <li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{CBAN_PATH}images/logo_gree.gif" width="85" height="36" /></div>
           		<span><p>企业名称：格力</p>
					  <p>产品类型：空调、净水机</p>
					  <p>企业描述：成立于1991年的珠海格力电器股份有限公司是目前全球最大的集研发、生产、销售、服务于一体的国有控股专业化空调企业，2012年实现营业总收入1001.10亿元，成为中国首家超过千亿的家电上市公司；2013年实现营业总收入1200.43亿元，净利润108.71亿元，纳税超过102.70亿元，是中国首家净利润。</p>
           		</span>
            	</div>
            </li>
        </ul>
        <div id="page">{$pages}</div>
    </div>
	<!--家电名企业主要内容结束、分类导览-->
    <div id="company_right">
        <div id="company_view">
            <div class="title_blueline_1px_bottom" style="width:70px;">分类导览</div><div class="title_blackline_1px_bottom" style="width:76%;"></div>
            <ul>常用家电<br />
                <li>液晶电视 | </li><li>等离子电视 | </li><li>空调 | </li><li>冰箱 | </li><li>洗衣机</li>
            </ul>
            <ul>卫浴家电<br />
                <li>电热水器 | </li><li>太阳能热水器 | </li><li>浴霸 | </li><li>燃气热水器</li>
            </ul>
            <ul>厨房家电<br />
                <li>抽油烟机 | </li><li>电饭煲 | </li><li>豆浆机 |</li><li>榨汁机 | </li><li>电饼铛电磁炉 | </li><li>微波炉 | </li><li>咖啡机 | </li><li>消毒柜 | </li><li>饮水机 | </li><li>多士炉 | </li><li>洗碗机 | </li><li>洗碗机 | </li><li>蛋器</li>
            </ul>
            <ul>家庭影音<br />
                <li>家庭影院 | </li><li>DVD播放机 | </li><li>迷你组合音响</li>
            </ul>
            <ul>小家电<br />
                <li>电暖气 | </li><li>电风扇 | </li><li>电熨斗 | </li><li>收音机</li>
            </ul>
            
            {pc:get sql="SELECT * FROM cban_linkage WHERE keyid='3360' ORDER BY listorder ASC" return="data"}
            {loop $data $key $val}
            	{$val[name]}
            {/loop} 
            {/pc}
            
        </div>
        <!--分类导览结束、本月热门家电厂商开始-->
        <div id="company_hot_new">
            <div class="title_blueline_1px_bottom" style="width:124px;">本月热门家电厂商</div><div class="title_blackline_1px_bottom" style="width:58%;"></div>
            <ul>
              <li><img src="{CBAN_PATH}img/no_1.gif" width="15" height="15" />佛山市洛贝电器实业有限公司</li>
              <li><img src="{CBAN_PATH}img/no_2.gif" width="15" height="15" />米技电子电器(上海)有限公司</li>
              <li><img src="{CBAN_PATH}img/no_3.gif" width="15" height="15" />永康市芝英永意电器厂</li>
              <li><img src="{CBAN_PATH}img/no_4.gif" width="15" height="15" />中山市乐庭电器有限公司</li>
              <li><img src="{CBAN_PATH}img/no_5.gif" width="15" height="15" />广州市金铃家用电器有限公司</li>
              <li><img src="{CBAN_PATH}img/no_6.gif" width="15" height="15" />山东小鸭集团家电有限公司</li>
              <li><img src="{CBAN_PATH}img/no_7.gif" width="15" height="15" />厦门欣佳电科技有限公司</li>
              <li><img src="{CBAN_PATH}img/no_8.gif" width="15" height="15" />中山市康华燃气具有限公司</li>
              <li><img src="{CBAN_PATH}img/no_8.gif" width="15" height="15" />济南米乐电器有限公司</li>
              <li><img src="{CBAN_PATH}img/no_10.gif" width="15" height="15" />常州珠光太阳能有限公司</li>
            </ul>
        </div>
        <!--本月热门家电厂商结束、最新加入厂家开始-->
            <div id="company_hot_new">
            <div class="title_blueline_1px_bottom" style="width:124px;">最新入驻家电企业</div><div class="title_blackline_1px_bottom" style="width:58%;"></div>
            <ul>
              <li><img src="{CBAN_PATH}img/no_1.gif" width="15" height="15" />佛山市洛贝电器实业有限公司</li>
              <li><img src="{CBAN_PATH}img/no_2.gif" width="15" height="15" />米技电子电器(上海)有限公司</li>
              <li><img src="{CBAN_PATH}img/no_3.gif" width="15" height="15" />永康市芝英永意电器厂</li>
              <li><img src="{CBAN_PATH}img/no_4.gif" width="15" height="15" />中山市乐庭电器有限公司</li>
              <li><img src="{CBAN_PATH}img/no_5.gif" width="15" height="15" />广州市金铃家用电器有限公司</li>
              <li><img src="{CBAN_PATH}img/no_6.gif" width="15" height="15" />山东小鸭集团家电有限公司</li>
              <li><img src="{CBAN_PATH}img/no_7.gif" width="15" height="15" />厦门欣佳电科技有限公司</li>
              <li><img src="{CBAN_PATH}img/no_8.gif" width="15" height="15" />中山市康华燃气具有限公司</li>
              <li><img src="{CBAN_PATH}img/no_8.gif" width="15" height="15" />济南米乐电器有限公司</li>
              <li><img src="{CBAN_PATH}img/no_10.gif" width="15" height="15" />常州珠光太阳能有限公司</li>
            </ul>
        </div>
    </div>
    <!--最新加入厂家结束-->
</div>

<!--页底开始-->{template "content","footer2"}
</body>
</html>
