{template "content","header"}

<div id="companylist_body">
	<!--路径开始-->
	<div id="title_blueline"><span style="float:left; margin-right:350px;">中国家电品牌网 >家电名企</span><span id="title_blueline_atpresent">全部</span><span id="title_blueline_nopresent">大陆企业</span><span id="title_blueline_nopresent">港台企业</span><span id="title_blueline_nopresent">国外企业</span></div>
	<!--路径结束、家电名企业主要内容开始-->
	<div class="companylist">
        <ul>
        	{if !$qy}
            	<li>
            	<div class="companylist_tap">
           		<span><p>暂时没有查到数据</p>
           		</span>
            	</div>
            	</li>
            {/if}
            {loop $qy $r}
           		<li>
            	<div class="companylist_tap">
           		<div class="companylist_tap_img"><img src="{$r[qylogo]}" width="85" height="36" /></div>
           		<span><p>企业名称：<a href="index.php?m=cban&c=index&a=jdmq&qyid={$r[id]}" target="_blank">{$r[title]}</a></p>
    				  <p>产品类型：{$r[cptype]}</p>
					  <p>企业描述：{$r[description]}</p>
           		</span>
            	</div>
            	</li>
            {/loop} 	
        </ul>
		<style>
        #page li{
            float:left;
            padding:10px;
            margin-top:10px;
            border:#C6C6C6 solid 1px;
            margin-left:10px;
        }
        #page li a{
            color:#333;
        }
        </style>
        <div id="page">{$pages}</div>
    </div>
	<!--家电名企业主要内容结束、分类导览-->
    <div id="company_right">
        <div id="company_view">
            <div class="title_blueline_1px_bottom" style="width:70px;">分类导览</div><div class="title_blackline_1px_bottom" style="width:76%;"></div>
           
            
            {pc:get sql="SELECT linkageid,name FROM cban_linkage WHERE keyid='3360' and parentid='0' and child='1' ORDER BY listorder ASC" return="data"}
            {loop $data $r}
            	<ul>{$r[name]}<br />
            		{pc:get sql="SELECT linkageid,name FROM cban_linkage WHERE keyid='3360' and parentid='$r[linkageid]' ORDER BY listorder ASC" return="data"}
                    
                    {loop $data $r}
                    	<li> <a href="index.php?m=cban&c=index&a=jdmq&keywords={$r[name]}">{$r[name]}</a> </li>
                    {/loop} 
           			{/pc}
               </ul>
            {/loop} 
            {/pc}
            
        </div>
        <!--分类导览结束、本月热门家电厂商开始-->
        <div id="company_hot_new">
            <div class="title_blueline_1px_bottom" style="width:124px;">本月热门家电厂商</div><div class="title_blackline_1px_bottom" style="width:58%;"></div>
            <ul>
              
              {pc:content  action="position" posid="19" order="listorder asc" num="10"}
              {loop $data $r}
              <li><a href="index.php?m=cban&c=index&a=jdmq&qyid={$r[id]}" target="_blank"><img src="{CBAN_PATH}img/no_{$r['listorder']}.gif" width="15" height="15" />{$r['title']}</a></li>
              {/loop}
              {/pc}
            </ul>
        </div>
        <!--本月热门家电厂商结束、最新加入厂家开始-->
            <div id="company_hot_new">
            <div class="title_blueline_1px_bottom" style="width:124px;">最新入驻家电企业</div><div class="title_blackline_1px_bottom" style="width:58%;"></div>
            <ul>
              {pc:content  action="position" posid="20" order="listorder asc" num="10"}
              {loop $data $r}
              <li><a href="index.php?m=cban&c=index&a=jdmq&qyid={$r[id]}" target="_blank"><img src="{CBAN_PATH}img/no_{$r['listorder']}.gif" width="15" height="15" />{$r['title']}</a></li>
              {/loop}
              {/pc}
            </ul>
        </div>
    </div>
    <!--最新加入厂家结束-->
</div>

<!--页底开始-->{template "content","footer2"}
</body>
</html>
