{template "content","header"}

<div id="content_background">
<center>
        <div id="content">
        	<div class="main_link">
            	<h4 class="title title_br"><span>中国家电品牌网</span>><span>千县万店</span>><span>维修网点一览表</span></h4>
                <div class="a_link2">
               	  <div class="medium_win">
                 <style>
                 #map{
						width:555px;
						height:450px;
						background-image:url({CBAN_PATH}/img/map.gif);
						background-repeat: no-repeat;
						background-position: center center;
					}
					#map span{
						display:block;
						color:#A71C1C;
						font-size:12px;
						position:absolute;
					}
					#map a{
						color:#A71C1C;
					}
					#hlj{
					 padding-left:495px; padding-top:72px;
					}
					#jl{
					 padding-left:425px; padding-top:112px;
					}
					#xj{
					 padding-left:152px; padding-top:157px;
					}
					#nmg{
					 padding-left:290px; padding-top:165px;
					}
					#bj{
					 padding-left:413px; padding-top:155px;
					}
					#ln{
					 padding-left:490px; padding-top:145px;
					}
					#nx{
					 padding-left:265px; padding-top:196px;
					}
					#qh{
					 padding-left:200px; padding-top:218px;
					}
					#gs{
					 padding-left:265px; padding-top:234px;
					}
					#sx{
					 padding-left:353px; padding-top:222px;
					}
					#sanx{
					 padding-left:338px; padding-top:189px;
					}
					#tj{
					 padding-left:440px; padding-top:176px;
					}
					#hb{
					 padding-left:433px; padding-top:193px;
					}
					#sd{
					 padding-left:453px; padding-top:211px;
					}
					#xz{
					 padding-left:158px; padding-top:259px;
					}
					#hen{
					 padding-left:350px; padding-top:253px;
					}
					#ah{
					 padding-left:430px; padding-top:258px;
					}
					#js{
					 padding-left:474px; padding-top:244px;
					}
					#sh{
					 padding-left:491px; padding-top:265px;
					}
					#sc{
					 padding-left:235px; padding-top:283px;
					}
					#cq{
					 padding-left:300px; padding-top:286px;
					}
					#hub{
					 padding-left:400px; padding-top:278px;
					}
					#zj{
					 padding-left:452px; padding-top:292px;
					}
					#fj{
					 padding-left:452px; padding-top:322px;
					}
					#jx{
					 padding-left:420px; padding-top:309px;
					}
					#gz{
					 padding-left:280px; padding-top:332px;
					}
					#hun{
					 padding-left:337px; padding-top:323px;
					}
					#yn{
					 padding-left:237px; padding-top:357px;
					}
					#gx{
					 padding-left:367px; padding-top:361px;
					}
					#gd{
					 padding-left:401px; padding-top:347px;
					}
					#tw{
					 padding-left:501px; padding-top:353px;
					}#am{
					 padding-left:350px; padding-top:383px;
					}#hk{
					 padding-left:430px; padding-top:379px;
					}#hain{
					 padding-left:397px; padding-top:417px;
					}
					/*---地图内容---*/
                 </style>
                    	<div id="map">
                            <span id="hlj"><a href="index.php?m=cban&c=index&a=jdwx&id=11">{get_mendian_total(11,2)}</a></span>
                            <span id="jl"><a href="index.php?m=cban&c=index&a=jdwx&id=10">{get_mendian_total(10,2)}</a></span>
                            <span id="xj"><a href="index.php?m=cban&c=index&a=jdwx&id=32">{get_mendian_total(32,2)}</a></span>
                            <span id="nmg"><a href="index.php?m=cban&c=index&a=jdwx&id=8">{get_mendian_total(8,2)}</a></span>
                            <span id="bj"><a href="index.php?m=cban&c=index&a=jdwx&id=2">{get_mendian_total(2,2)}</a></span>
                            <span id="ln"><a href="index.php?m=cban&c=index&a=jdwx&id=9">{get_mendian_total(9,2)}</a></span>
                            <span id="nx"><a href="index.php?m=cban&c=index&a=jdwx&id=31">{get_mendian_total(31,2)}</a></span>
                            <span id="qh"><a href="index.php?m=cban&c=index&a=jdwx&id=30">{get_mendian_total(30,2)}</a></span>
                            <span id="gs"><a href="index.php?m=cban&c=index&a=jdwx&id=29">{get_mendian_total(29,2)}</a></span>
                            <span id="sx"><a href="index.php?m=cban&c=index&a=jdwx&id=28">{get_mendian_total(28,2)}</a></span>
                            <span id="sanx"><a href="index.php?m=cban&c=index&a=jdwx&id=7">{get_mendian_total(7,2)}</a></span>
                            <span id="tj"><a href="index.php?m=cban&c=index&a=jdwx&id=4">{get_mendian_total(4,2)}</a></span>
                            <span id="hb"><a href="index.php?m=cban&c=index&a=jdwx&id=6">{get_mendian_total(6,2)}</a></span>
                            <span id="sd"><a href="index.php?m=cban&c=index&a=jdwx&id=17">{get_mendian_total(17,2)}</a></span>
                            <span id="xz"><a href="index.php?m=cban&c=index&a=jdwx&id=27">{get_mendian_total(27,2)}</a></span>
                            <span id="hun"><a href="index.php?m=cban&c=index&a=jdwx&id=20">{get_mendian_total(20,2)}</a></span>
                            <span id="ah"><a href="index.php?m=cban&c=index&a=jdwx&id=14">{get_mendian_total(14,2)}</a></span>
                            <span id="js"><a href="index.php?m=cban&c=index&a=jdwx&id=12">{get_mendian_total(12,2)}</a></span>
                            <span id="sh"><a href="index.php?m=cban&c=index&a=jdwx&id=3">{get_mendian_total(3,2)}</a></span>
                            <span id="sc"><a href="index.php?m=cban&c=index&a=jdwx&id=24">{get_mendian_total(24,2)}</a></span>
                            <span id="cq"><a href="index.php?m=cban&c=index&a=jdwx&id=5">{get_mendian_total(5,2)}</a></span>
                            <span id="hub"><a href="index.php?m=cban&c=index&a=jdwx&id=19">{get_mendian_total(19,2)}</a></span>
                            <span id="zj"><a href="index.php?m=cban&c=index&a=jdwx&id=13">{get_mendian_total(13,2)}</a></span>
                            <span id="fj"><a href="index.php?m=cban&c=index&a=jdwx&id=15">{get_mendian_total(15,2)}</a></span>
                            <span id="jx"><a href="index.php?m=cban&c=index&a=jdwx&id=16">{get_mendian_total(16,2)}</a></span>
                            <span id="gz"><a href="index.php?m=cban&c=index&a=jdwx&id=25">{get_mendian_total(25,2)}</a></span>
                            <span id="hen"><a href="index.php?m=cban&c=index&a=jdwx&id=18">{get_mendian_total(18,2)}</a></span>
                            <span id="yn"><a href="index.php?m=cban&c=index&a=jdwx&id=26">{get_mendian_total(26,2)}</a></span>
                            <span id="gx"><a href="index.php?m=cban&c=index&a=jdwx&id=22">{get_mendian_total(22,2)}</a></span>
                            <span id="gd"><a href="index.php?m=cban&c=index&a=jdwx&id=21">{get_mendian_total(21,2)}</a></span>
                            <span id="tw"><a href="index.php?m=cban&c=index&a=jdwx&id=33">{get_mendian_total(33,2)}</a></span>
                            <span id="am"><a href="index.php?m=cban&c=index&a=jdwx&id=35">{get_mendian_total(35,2)}</a></span>
                            <span id="hk"><a href="index.php?m=cban&c=index&a=jdwx&id=34">{get_mendian_total(34,2)}</a></span>
                            <span id="hain"><a href="index.php?m=cban&c=index&a=jdwx&id=23">{get_mendian_total(23,2)}</a></span>
                        </div>
                                            
                    
          <?php      
               if($mendian){
           ?>
                      <table class="list" cellspacing="0">
                          <tr>
                              <th width="60">
                                  地理位置
                              </th>
                              <th width="100">
                                  门店名称
                              </th>
                              <th width="150">
                                  地址
                              </th>
                              <th width="90">
                                  资讯电话
                              </th>
                          </tr>
                          
                 {loop $mendian $k $r}         
                          <tr>
                           	  <td class="in">
                           	  	 {$r[diquname]}
                              </td>
                              <td class="out">
                       	   		<a href="index.php?m=cban&c=index&a=showJDWX&mdid={$r[id]}">{$r[title]}</a></td>
                              <td class="in">
                               	  {$r[add]}
                              </td>
                              <td class="out">
                               	  {$r[dianhua]}
                              </td>
                          </tr>
                {/loop}   
               
                          <tr>
                           	  <td colspan="4">
                              	<ul class="page_gu">
                              		 {$pages}
                                	
                                </ul>
                              </td>
                          </tr>                            
                      </table>
                      
           <?php      
               }
           ?>            
                    </div>
                    
                    <div class="mini_win">
                    	<h4 class="title title_br">维修网点检索</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
						<form name="" action="" method="get">
                            <input type="hidden" value="cban" name="m">
                            <input type="hidden" value="index" name="c">
                            <input type="hidden" value="serJDWX" name="a">
						<table width="300" border="0" cellspacing="0" cellpadding="0">
						  <tr>
						    <th width="20%" height="30" align="left">省市：</th>
						    <td width="80%" height="30" align="left">{menu_linkage(1,'L_1',$_GET[info][L_1])}</td>
						    </tr>
                             <tr>
						    <th width="20%" height="30" align="left" valign="bottom">关键字：</th>
						    <td width="80%" height="30" align="left" valign="bottom"><input type="text" name="keywords" value="{$_GET[keywords]}" /></td>
					      </tr>
						</table>
						<input style="margin-left:260px;" type="image" src="{CBAN_PATH}img/se_form.jpg" />
						</form>
                        
                        <h4 class="title title_br">新加维修网点</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir win_dir_lift" style="width:100%;">
                        	<ul class="win_dir_lift">
                               {pc:content action="position" posid="25" order="listorder asc" num="10"}
                                {loop $data $r}
                                     <li>
                                    <span>{$r[listorder]}</span>
                                    <a href="index.php?m=cban&c=index&a=showJDWX&mdid={$r[id]}">{$r[title]}</a>
                                	</li>
                                {/loop}
                                {/pc}

                            </ul>                            
                        </div>
                        
                        
                        <h4 class="title title_br">维修网点图片</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir">
                        	<ul class="win_dir_lift_img">
                                {pc:content action="position" posid="26" order="listorder asc" num="4"}
                                {loop $data $r}
                                     <li>
                                	<a href="index.php?m=cban&c=index&a=showJDWX&mdid={$r[id]}">
                                        <img src="{$r[image]}" width="150" height="120" />
                                        <div>{$r[title]}</div>
                                    </a>
                                	</li>
                                {/loop}
                                {/pc}
                            </ul>                            
                        </div>
                	</div>
                </div>
            </div>
            <!--页底开始-->
			{template "content","footer"}
			

</center>   
</div>

</body>
</html>
