{template "content","header"}

<div id="content_background">
	<center>
<div id="content">
        	<div class="main_1 main_div">
            	<div class="type_nav div">
                	<ul>
                    	<li class="type_name">
                        	家电分类目录
                        </li>
                        <li>
                        	<a href="#"><div>分类测试,分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li>
                        	<a href="#"><div>分类测试</div></a>
                        </li>
                        <li class="all_type">
                        	<a href="#">全类分类目录</a>
                        </li>
                    </ul>
                </div>
                
                <div class="show_1 div">
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="left_border"></div>
					<div class="right_border"></div>
                    <div class="link">
                    	<ul class="link">
                        	<li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div">
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="left_border"></div>
					<div class="right_border"></div>
                    <div class="link">
                    	<ul class="link">
                        	<li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div">
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="left_border"></div>
					<div class="right_border"></div>
                    <div class="link">
                    	<ul class="link">
                        	<li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div">
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="left_border"></div>
					<div class="right_border"></div>
                    <div class="link">
                    	<ul class="link">
                        	<li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div">
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="left_border"></div>
					<div class="right_border"></div>
                    <div class="link">
                    	<ul class="link">
                        	<li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div">
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="left_border"></div>
					<div class="right_border"></div>
                    <div class="link">
                    	<ul class="link">
                        	<li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div">
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="left_border"></div>
					<div class="right_border"></div>
                    <div class="link">
                    	<ul class="link">
                        	<li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div">
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="left_border"></div>
					<div class="right_border"></div>
                    <div class="link">
                    	<ul class="link">
                        	<li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div">
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="left_border"></div>
					<div class="right_border"></div>
                    <div class="link">
                    	<ul class="link">
                        	<li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="show_1 div">
                    <!--列表类型-->
                    <h4 class="title title_br">商机资讯</h4>
                    <div class="left_border"></div>
					<div class="right_border"></div>
                    <div class="link">
                    	<ul class="link">
                        	<li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                            <li>
                            	<a href="javascript:;">测试</a>
                            </li>
                        </ul>
                    </div>
                </div>                
            </div>
            
  <div class="main_link2">
            	<h4 class="title title_br">家电排行</h4>
                <div class="a_link">
                    <div class="medium_win max_win">
                    		
                        
                        <div class="win_dir">
                        	<ul>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp2.jpg" height="100"/>
                                        商品商品商品商品商品商品商品商品商品商品商品商品
                                    </a>
                                    <div class="pic"><span>参考价格:</span>¥12,341</div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="win_link">
                            <ol>
                            	<li>
                                	热门品牌:
                                </li>
                            	<li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                                <li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                                <li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                                <li>
                                	<a href="javascript:;">品牌</a>
                                </li>
                            </ol>
                        </div>
                    </div>  
                </div>
    </div>

    <!--页底开始-->
	{template "content","footer"}
  </center>
    
</div>

</body>
</html>
