{template "content","header"}

<div id="content_background">
	<center>
        <div id="content">
        	<div class="main_link">
            	<h4 class="title title_br"><span>中国家电品牌网</span>><span>行业资讯</span>><span>新闻</span></h4>
                <div class="a_link2">
                    <div class="medium_win">                    
                        <div class="all">
                        
                        {pc:content action="lists" catid="41" num="20"  page="$_GET[page]" siteid="$siteid" id="" order="listorder desc"}
                        {loop $data $r}
                        	<div class="list">
                                <div class="title"><a href="{$r[url]}" target="_blank">{$r[title]}</a></div>
                                <div class="body_text">
                                {if $r[thumb]}
                                  <img src="{$r[thumb]}" height="115" width="155" />
                                 {/if}
                                
                                    <p style="word-break:break-all;word-wrap:break-word;">{$r[description]}</p>
                                </div>
                                <div class="ab_mess">
                                    <span>作者:{$r[username]}</span>
                                    <span>{date('Y-m-d',$r[inputtime])}</span>
                                </div>
                                <div class="mac_bar">
                                    <span>
                                        分享到:
                                        <img src="{CBAN_PATH}img/01.jpg" height="16" width="16" />
                                        <img src="{CBAN_PATH}img/02.jpg" height="16" width="16" />
                                        <img src="{CBAN_PATH}img/03.jpg" height="16" width="16" />
                                        <img src="{CBAN_PATH}img/04.jpg" height="16" width="16" />
                                        <img src="{CBAN_PATH}img/05.jpg" height="16" width="16" />
                                    </span>
                                </div>
                            </div>
                        {/loop}
                      	{/pc}
                             <style>
								#page a,#page span{
									float:left;
									padding:10px;
									margin-top:10px;
									border:#C6C6C6 solid 1px;
									margin-left:10px;
									color:#333;
									font-weight:100;
								}
								#page span{
									background-color:#0695cd;}
							</style>
							<div id="page">{$pages}</div>
                            
                        </div>
                        
                        
                    </div>
                    
                    <div class="mini_win">
                        
                        <h4 class="title title_br">新闻点击排行</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir win_dir_lift" style="width:100%;">
                        	<ul class="win_dir_lift">
                            	{pc:content action="position" posid="27" order="listorder asc" num="10"}
                                {loop $data $r}
                                     <li>
                                    <span>{$r[listorder]}</span>
                                    <a href="{$r[url]}" target="_blank">{$r[title]}</a>
                                	</li>
                                {/loop}
                                {/pc}
                            </ul>                            
                        </div>
                        
                        <h4 class="title title_br">综合排行</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir win_dir_lift" style="width:100%;">
                        	<ul class="win_dir_lift">
                              {pc:content action="position" posid="28" order="listorder asc" num="10"}
                                {loop $data $r}
                                     <li>
                                    <span>{$r[listorder]}</span>
                                    <a href="{$r[url]}" target="_blank">{$r[title]}</a>
                                	</li>
                                {/loop}
                                {/pc}
                            </ul>                            
                        </div>
                        
                        
                        <h4 class="title title_br">推荐图片新闻</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir">
                        	<ul class="win_dir_lift_img">
                            	{pc:content action="position" posid="29" order="listorder asc" num="10"}
                                {loop $data $r}
                                    <li>
                                    <a href="{$r[url]}" target="_blank">
                                        <img src="{$r[thumb]}" width="150" height="120" />
                                        <div>{$r[description]}</div>
                                    </a>
                                	</li>
                                {/loop}
                                {/pc}
                            </ul>                            
                        </div>
                	</div>
                </div>
            </div>
            
            <!--页底开始-->
			{template "content","footer"}
    </center>
    
</div>


</body>
</html>
