{template "content","header"}

<div id="content_background">
	<center>
        <div id="content">
        	<div class="main_link">
            	<h4 class="title title_br"><span>中国家电品牌网</span>><span>行业资讯</span>><span>新闻</span></h4>
                <div class="a_link2">
                    <div class="medium_win">                    
                        <div class="all">
                        
                        {pc:content action="lists" catid="41" num="1"  page="$_GET[page]" siteid="$siteid" id="" order="listorder desc"}
                        {loop $data $r}
                        	<div class="list">
                                <div class="title"><a href="javascript:;">{$r[title]}</a></div>
                                <div class="body_text">
                                <img src="{CBAN_PATH}images/tmp4.jpg" height="115" width="155" />
                                    <p style="word-break:break-all;word-wrap:break-word;">{$r[description]}</p>
                                </div>
                                <div class="ab_mess">
                                    <span>作者:{$r[username]}</span>
                                    <span>{$r[inputtime]}</span>
                                </div>
                                <div class="mac_bar">
                                    <span>
                                        分享到:
                                        <img src="{CBAN_PATH}img/01.jpg" height="16" width="16" />
                                        <img src="{CBAN_PATH}img/02.jpg" height="16" width="16" />
                                        <img src="{CBAN_PATH}img/03.jpg" height="16" width="16" />
                                        <img src="{CBAN_PATH}img/04.jpg" height="16" width="16" />
                                        <img src="{CBAN_PATH}img/05.jpg" height="16" width="16" />
                                    </span>
                                </div>
                            </div>
                        {/loop}
                      	{/pc}
                             <style>
								#page a,#page span{
									float:left;
									padding:10px;
									margin-top:10px;
									border:#C6C6C6 solid 1px;
									margin-left:10px;
									color:#333;
									font-weight:100;
								}
								#page span{
									background-color:#0695cd;}
							</style>
							<div id="page">{$pages}</div>
                            
                        </div>
                        
                        
                    </div>
                    
                    <div class="mini_win">
                        
                        <h4 class="title title_br">新闻点击排行</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir win_dir_lift" style="width:100%;">
                        	<ul class="win_dir_lift">
                                <li>
                                    <span>1</span>
                                    <a href="javascript:;">商品1sadasdasd</a>
                                </li>
                                <li>
                                    <span>2</span>
                                    <a href="javascript:;">商品2</a>
                                </li>
                                <li>
                                    <span>3</span>
                                    <a href="javascript:;">商品2</a>
                                </li>
                                <li>
                                    <span class="color">4</span>
                                    <a href="javascript:;">商品2</a>
                                </li>
                                <li>
                                    <span class="color">5</span>
                                    <a href="javascript:;">商品2</a>
                                </li>
                            </ul>                            
                        </div>
                        
                        <h4 class="title title_br">综合排行</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir win_dir_lift" style="width:100%;">
                        	<ul class="win_dir_lift">
                                <li>
                                    <span>1</span>
                                    <a href="javascript:;">商品1sadasdasd</a>
                                </li>
                                <li>
                                    <span>2</span>
                                    <a href="javascript:;">商品2</a>
                                </li>
                                <li>
                                    <span>3</span>
                                    <a href="javascript:;">商品2</a>
                                </li>
                                <li>
                                    <span class="color">4</span>
                                    <a href="javascript:;">商品2</a>
                                </li>
                                <li>
                                    <span class="color">5</span>
                                    <a href="javascript:;">商品2</a>
                                </li>
                            </ul>                            
                        </div>
                        
                        
                        <h4 class="title title_br">推荐图片新闻</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir">
                        	<ul class="win_dir_lift_img">
                                <li>
                                	<a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp3.jpg" width="150" height="120" />
                                        <div>说明说明说明说明说明说明说明说明明说明</div>
                                    </a>
                                </li>
                                <li>
                                	<a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp3.jpg" width="150" height="120" />
                                        <div>说明说明说明说明说明说明说明说明明说明</div>
                                    </a>
                                </li>
                                <li>
                                	<a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp3.jpg" width="150" height="120" />
                                        <div>说明说明说明说明说明说明说明说明明说明</div>
                                    </a>
                                </li>
                                <li>
                                	<a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp3.jpg" width="150" height="120" />
                                        <div>说明说明说明说明说明说明说明说明明说明</div>
                                    </a>
                                </li>
                                <li>
                                	<a href="javascript:;">
                                        <img src="{CBAN_PATH}images/tmp3.jpg" width="150" height="120" />
                                        <div>说明说明说明说明说明说明说明说明明说明</div>
                                    </a>
                                </li>
                            </ul>                            
                        </div>
                	</div>
                </div>
            </div>
            
            <!--页底开始-->
			{template "content","footer"}
    </center>
    
</div>


</body>
</html>
