{template "content","header"}

<div id="content_background">
<center>
        <div id="content">
        	<div class="main_link">
            	<h4 class="title title_br"><span>中国家电品牌网</span>><span>展会信息</span></h4>
                <div class="a_link2">
               	  <div class="medium_win">
                  	 <div class="title_grayline_1px_bottom">{$title}</div>
                     <div class="companycontent_info">会员：管理员<span style="padding-left:20px;">{$inputtime}</span><span style="padding-left:150px;">分享到：</span><img src="{CBAN_PATH}img/icon_qq.gif" width="16" height="16" /><img src="{CBAN_PATH}img/icon_sina.gif" width="16" height="16" /><img src="{CBAN_PATH}img/icon_tx.gif" width="16" height="16" /><img src="{CBAN_PATH}img/icon_rr.gif" width="16" height="16" /><img src="{CBAN_PATH}img/icon_add.gif" width="16" height="16" /></div>
                     <div id="companycontent_artical">
                    {$content}
                    </div>
                                
                  </div>
                    
                    <div class="mini_win">
                    	<h4 class="title title_br">展会检索</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
						<form name="" action="" method="get">
                        <input type="hidden" value="cban" name="m">
                        <input type="hidden" value="index" name="c">
                        <input type="hidden" value="zhxx" name="a">
						<table width="300" border="0" cellspacing="0" cellpadding="0">
						  <tr>
						    <th width="20%" height="30" align="left" valign="bottom">省市：</th>
						    <td width="80%" height="30" align="left" valign="bottom">{menu_linkage(1,'L_1',$_GET[info][L_1])}</td>
					      </tr>
                          <tr>
						    <th width="20%" height="30" align="left" valign="bottom">关键字：</th>
						    <td width="80%" height="30" align="left" valign="bottom"><input type="text" name="keywords" value="{$_GET[keywords]}" /></td>
					      </tr>
						</table>
						<input style="margin-left:260px;" type="image" src="{CBAN_PATH}img/se_form.jpg" />
						</form>
                        
                        <h4 class="title title_br">热点展会排行</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir win_dir_lift" style="width:100%;">
                        	<ul class="win_dir_lift">
                                {pc:content action="position" posid="21" order="listorder asc" num="10"}
                                {loop $data $r}
                                     <li>
                                    <span>{$r[listorder]}</span>
                                    <a href="{$r[url]}">{$r[title]}</a>
                                	</li>
                                {/loop}
                                {/pc}
                            </ul>                            
                        </div>
                        
                        
                        <h4 class="title title_br">展会图片资讯</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir">
                        	<ul class="win_dir_lift_img">
                            	{pc:content action="position" posid="22" order="listorder asc" num="4"}
                                {loop $data $r}
                                     <li>
                                	<a href="{$r[url]}">
                                        <img src="{$r[image]}" width="150" height="120" />
                                        <div>{$r[title]}</div>
                                    </a>
                                	</li>
                                {/loop}
                                {/pc}
                            </ul>                            
                        </div>
                	</div>
                </div>
            </div>
            <!--页底开始-->
			{template "content","footer"}
			
</center>
    
</div>

</body>
</html>
