{template "content","header"}

<div id="content_background">
	<center>
        <div id="content">
        	<div class="main_link">
            	<h4 class="title title_br"><span>中国家电品牌网</span>><span>行业资讯</span></h4>
                <div class="a_link2">
                    <div class="medium_win">                    
                        <div class="title_grayline_1px_bottom">{$title}</div>
                         <div class="companycontent_info">作者：{$username}<span style="padding-left:20px;">{$inputtime}</span><span style="padding-left:150px;">分享到：</span><img src="{CBAN_PATH}img/icon_qq.gif" width="16" height="16" /><img src="{CBAN_PATH}img/icon_sina.gif" width="16" height="16" /><img src="{CBAN_PATH}img/icon_tx.gif" width="16" height="16" /><img src="{CBAN_PATH}img/icon_rr.gif" width="16" height="16" /><img src="{CBAN_PATH}img/icon_add.gif" width="16" height="16" /></div>
                         <div id="companycontent_artical">
                        {$content}
                        </div>
                        
                    </div>
                    
                    <div class="mini_win">
                        
                        <h4 class="title title_br">新闻点击排行</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir win_dir_lift" style="width:100%;">
                        	<ul class="win_dir_lift">
                            	{pc:content action="position" posid="27" order="listorder asc" num="10"}
                                {loop $data $r}
                                     <li>
                                    <span>{$r[listorder]}</span>
                                    <a href="{$r[url]}" target="_blank">{$r[title]}</a>
                                	</li>
                                {/loop}
                                {/pc}
                            </ul>                            
                        </div>
                        
                        <h4 class="title title_br">综合排行</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir win_dir_lift" style="width:100%;">
                        	<ul class="win_dir_lift">
                              {pc:content action="position" posid="28" order="listorder asc" num="10"}
                                {loop $data $r}
                                     <li>
                                    <span>{$r[listorder]}</span>
                                    <a href="{$r[url]}" target="_blank">{$r[title]}</a>
                                	</li>
                                {/loop}
                                {/pc}
                            </ul>                            
                        </div>
                        
                        
                        <h4 class="title title_br">推荐图片新闻</h4>
                        <div class="left_border"></div>
                        <div class="right_border"></div>
                        
                        <div class="win_dir">
                        	<ul class="win_dir_lift_img">
                            	{pc:content action="position" posid="29" order="listorder asc" num="10"}
                                {loop $data $r}
                                    <li>
                                    <a href="{$r[url]}" target="_blank">
                                        <img src="{$r[thumb]}" width="150" height="120" />
                                        <div>{$r[description]}</div>
                                    </a>
                                	</li>
                                {/loop}
                                {/pc}
                            </ul>                            
                        </div>
                	</div>
                </div>
            </div>
            
            <!--页底开始-->
			{template "content","footer"}
    </center>
    
</div>


</body>
</html>
